.homePage
    display: flex
    padding: 180px 250px
    color: #E2211C
    font-size: 22px
    font-weight: bold
    background-color: darken(black, 50%)
    .h1
        margin: auto 0
        font-size: 42px
        margin-right: 20px
    .orderArea
        margin: auto 5px 50px auto
    .orderInput
        width: 250px

